aiosqlite
amqp
asgiref
beautifulsoup4
billiard
celery
certifi
cffi
channels
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
confusable-homoglyphs
crispy-bootstrap5
cryptography
cssbeautifier
defusedxml
distlib
dj-database-url
Django
django-allauth
django-bootstrap3
django-crispy-forms
django-froala-editor
django-heroku
django-registration
django-rest-framework
django-tinymce
djangorestframework
djangorestframework-camel-case
djlint
drf-yasg
EditorConfig
filelock
Flask
Flask-SQLAlchemy
greenlet
gunicorn
html-tag-names
html-void-elements
idna
inflection
iso8601
itsdangerous
Jinja2
jsbeautifier
json5
kombu
MarkupSafe
oauthlib
packaging
pathspec
Pillow
platformdirs
prompt-toolkit
psycopg2-binary
pycparser
PyJWT
pypika-tortoise
python-dateutil
python-decouple
python-dotenv
python3-openid
pytz
PyYAML
regex
requests
requests-oauthlib
six
soupsieve
SQLAlchemy
sqlparse
stripe
tomli
tortoise-orm
tqdm
typing_extensions
tzdata
uritemplate
urllib3
vine
virtualenv
wcwidth
Werkzeug
whitenoise